[2015-09-17 15:22] AllThingsSmitty opened #1 "TOC needed"
At some point a table of contents will likely be needed to make it easier to parse through tips.

[2015-09-17 18:52] AllThingsSmitty commented on #1
Fixed with ba4d2f0b772c2a1ad927fbb6ff5a4f5ea97c399b

[2015-09-17 18:52] #1 closed

[2015-09-23 07:41] ImBobby opened #2 "Alternative for Apply/Unapply Borders"
I personally use this technique in professional projects
[code]
this technique has less specificity and support IE7. Thought?

[2015-09-23 15:11] AllThingsSmitty commented on #2
@ImBobby in the case of `not()` the intent is very clear in the way that a human would describe it. The `+` sibling selector would work, but other than backwards compatibility for IE7 I tend to think of it as a remnant.

[2015-09-25 04:43] ImBobby commented on #2
noted. Thanks for your feedback.

[2015-09-25 04:43] #2 closed

[2015-09-26 15:59] wmertens opened #3 "Mention browser bugs with flexbox"
Nice list!

With some tweaks all these tips work also with IE10, which still has large enough market share to care.

However, with IE10 flexbox centering fails when using min-height instead of height, see https://github.com/philipwalton/flexbugs#3-min-height-on-a-flex-container-wont-apply-to-its-flex-items

[2015-09-26 17:25] AllThingsSmitty commented on #3
Good suggestion. Let me do a little testing with IE10 and I might add a link to that bug reference.

[2015-10-03 02:25] AllThingsSmitty commented on #3
Added an IE11 flexbox bug note with 9119ef260e25d7f9eeec21c2625c8879b6f7f63b

[2015-10-03 02:25] #3 closed

[2015-10-07 08:21] Electrofenster opened #5 "Add Attribute Selectors"
You can use attribute selectors to display the link when the a-tag is empty but the href-tag is an link.

Example:
html:
[code]
css:
[code]

[2015-10-07 13:09] AllThingsSmitty commented on #5
@Electrofenster that's a good one, Lars. Thanks for suggesting it.

[2015-10-07 14:22] keithjgrant opened #7 "optimizeLegibility has performance implications"
You should probably add a note to use optimizeLegibility selectively, rather than blindly applying it to everything. Otherwise, it has performance implications: https://bocoup.com/weblog/text-rendering/

[2015-10-07 14:27] AllThingsSmitty commented on #7
@keithjgrant thanks for that link, good information to include.

[2015-10-07 19:14] AllThingsSmitty commented on #5
Added with https://github.com/AllThingsSmitty/css-protips/commit/43e82e58e7649c0d233250fe04b59f26fd2918ba.

[2015-10-07 19:14] #5 closed

[2015-10-07 19:14] AllThingsSmitty commented on #7
Added with https://github.com/AllThingsSmitty/css-protips/commit/43e82e58e7649c0d233250fe04b59f26fd2918ba.

[2015-10-07 19:14] #7 closed

[2015-10-07 19:15] zacharybrady opened #8 ""Use max-height for Pure CSS Sliders" Needs a Note on the max-height attributes value's impact on the animation"
The transition property is detailing how long it will take to reach the max-height value. In your example it would take 0.3 seconds to reach 1000px. If the element's height is much smaller, like 200px, the animation will be so quick you won't notice it and might as well not be using the transition property. I can show you live examples if necessary.

[2015-10-07 19:30] AllThingsSmitty commented on #8
@zacharybrady thanks for the suggestion. I think a comment in the CSS would be sufficient: `transition: .3s ease; /* duration: time to reach max-height */`.

[2015-10-08 08:45] pugsiman opened #9 "Nice alternative for text-decoration: underline"
A good looking alternative I found for `text-decoration: underline;` is using border-bottom instead, it gives you more control over the way it looks.
For example: `border-bottom: 1px solid black;` or:
http://codepen.io/pugsiman/pen/vNKBPe

[2015-10-08 10:42] robsonsobral commented on #9
But it isn't always the best solution. E.g., the specification for `abbr` changed from using `border-block-end: dotted 1px` to `text-decoration: dotted underline`, which isn't support on all browsers yet.

From the [default styles](https://html.spec.whatwg.org/multipage/rendering.html#phrasing-content-3):

[code]

This changed because of issues with the japanese Windows typeface, Meyro:

![screens

[2015-10-08 13:48] pugsiman commented on #9
Interesting, thanks for the feedback :-)

[2015-10-08 14:11] Electrofenster commented on #5
thanks :+1:

[2015-10-08 18:25] zacharybrady commented on #8
Yeah, its up to you in the end. I just know from experience that when you want very explicit control over animation timing this technique needs to be used smartly. For instance, don't just go with the largest value for max-height you can think of. Aim for something closer to what you believe the standard height may be while allowing for wiggle room.

[2015-10-08 21:07] Frinsh opened #12 "Alternative to "Use :not() to Apply/Unapply Borders on Navigation""
Same outcome for all of these solutions but less code and better browser support (IE7+ instead of IE9+)

[code]

[2015-10-08 21:56] AllThingsSmitty commented on #12
@Frinsh correct, but the intent of that tip was mainly to showcase the use of `:not()`.

[2015-10-08 21:56] #12 closed

[2015-10-08 21:58] AllThingsSmitty commented on #9
@pugsiman thanks for the suggestion. This kind of solution has been around for a long time and I think is pretty well known. I wouldn't necessarily categorize it as one that will help CSS devs much.

[2015-10-08 21:58] #9 closed

[2015-10-09 06:30] Frinsh commented on #12
@AllThingsSmitty but the adjacent sibling selector solution does not use this.

[2015-10-09 15:53] ShaggyDude opened #14 "another way to do the nav borders"
you can also do

.nav li + li {
  border-left: 1px solid #666;
}

[2015-10-09 18:33] AllThingsSmitty commented on #14
@ShaggyDude thanks for the suggestion. Yes, that's a common way that I knew of and others have pointed out. I wanted to showcase how using `:not()` was another alternative and a bit more readable.

[2015-10-09 18:33] #14 closed

[2015-10-12 00:07] AllThingsSmitty commented on #8
Addressed with https://github.com/AllThingsSmitty/css-protips/commit/5b60b3ab223f1919da48892d9561540d91337acc.

[2015-10-12 00:07] #8 closed

[2015-10-13 08:04] Electrofenster commented on #5
@AllThingsSmitty maybe you can add these for input's too:

[code]

[2015-10-14 13:27] ed1nh0 opened #16 "Suggesting another use of :not()"
Not an issue, just a suggestion.
Since you're already using `:not()` on two of those pro tips, I'd suggest to use it on another one:

The **Select Items Using Negative nth-child**:

    li {
        display: none;
    }

    /* select items 1 through 3 and display them */
    li:nth-child(-n+3) {
        display: block;
    }

Could be *just*:

    /* select items 1 through 3 and display them */

[2015-10-14 16:26] AllThingsSmitty commented on #16
@ed1nh0 I like that. It has a consistent feeling throughout the tip suggestions. 👍🏼

[2015-10-14 16:26] #16 closed

[2015-10-14 16:41] brunowego opened #17 "Good practices about :root"
I see some projects using `:root` but I not have any idea about good practices about it. Have any tip for us?

[2015-10-15 15:21] AllThingsSmitty commented on #17
@brunowego I'll look into that.

[2015-10-15 15:29] brunowego commented on #17
Thanks @AllThingsSmitty :+1:

[2015-10-18 20:52] AllThingsSmitty commented on #16
Added in https://github.com/AllThingsSmitty/css-protips/commit/8c21696e2da7789e35c58fab038a0e3668803a9a.

[2015-12-07 05:56] plainspace opened #18 "Demos FTW!"

[2015-12-07 17:09] mrwweb opened #19 "Consider adding lobotomized owl (* + *) margin style"
http://alistapart.com/article/axiomatic-css-and-lobotomized-owls

[code]

[2015-12-10 17:53] alexcarpenter opened #20 "Consistent vertical rhythm within elements"
Use a global selector within an element to create a consistent vertical rhythm.
[code]

[2015-12-11 08:15] martinpesout commented on #20
I'm also using similar CSS definition. But I think that `article` selector is really general. I'm rather using more specific one. Something like this:

[code]

[2015-12-11 15:23] alexcarpenter commented on #20
Yeah, I would typically use `.entry > *` since this would target *all* elements including figure, images, videos etc. not just typographic elements.

[2015-12-14 16:00] danielgamble opened #21 "Not a fan of the first :not tip"
I don't think the `:not` tip should be advised. You're adding 1 more level specificity to all of nav items except the last one as opposed to that 1 level to just the last one. Makes it a bit more annoying to overwrite when it comes to it.

[2015-12-14 16:15] AllThingsSmitty commented on #21
@DanGamble89 I appreciate the feedback but I have to disagree. The additional specificity is negligible and one of the reasons I'm advising it is that the use of `:not(:last-child)` is very clear with the CSS selector defining the border the way a human would describe it.

[2015-12-14 16:17] DanGamble89 commented on #21
I wouldn't say it's negligible. Once you start having to style dropdowns on the same nav or style it different on mobile where there are no borders then you will hit conflicts. I use to be an advocate of this method but once you start implementing these things it just causes headaches.

If you have to style the asset responsively i'd go for child specific pseudo's as opposed to hitting all of them

[2015-12-14 19:09] pornel opened #22 "Please don't recommend disabling subpixel anti-aliasing everywhere"
[code]

OS X has an option to disable "LCD font smoothing" in System Preferences, so those who don't like it can do so. But it doesn't have an option to force sharp text rendering on pages that chose to make it blurry.

Please don't recommend setting these properties on `html`. They do help to make icon fonts less wonky and for some fonts rendered in white-on-black, but in disabling it everywhere

[2015-12-14 19:25] AllThingsSmitty commented on #22
@pornel thanks, I'll look into that further.

[2015-12-15 08:45] albertorestifo commented on #19
:+1:

[2015-12-15 15:27] AllThingsSmitty commented on #17
@brunowego I haven't found anything specific on this to-date, but I'll keep looking.

[2015-12-15 15:27] #17 closed

[2015-12-15 17:00] AllThingsSmitty commented on #19
@mrwweb I like the idea. Let me see how to best work it in. Thanks.

[2015-12-16 02:02] AllThingsSmitty commented on #19
Added with commit https://github.com/AllThingsSmitty/css-protips/commit/9544b8d46a2585b31e2338e9dc604ce559f144cf.

[2015-12-16 02:02] #19 closed

[2015-12-16 03:51] sweeperq opened #24 "box-sizing inheritance questions"
Is there a reason the **html** rule comes before the **\*, \*:before, \*:after** rule instead of after it?

Also, I thought that it was considered bad practice to use the universal selector?

[2015-12-16 04:10] AllThingsSmitty commented on #24
@sweeperq good question. I don't think it's not bad practice to use the universal selector, it's just one of those things devs need to be aware of how powerful it is.

In this example, using the universal selector with pseudo-elements improves the normalizing effect of `border-box`. But the universal selector makes it difficult to use the `content-box` and `padding-box` values of `box-sizing` else

[2015-12-16 04:10] #24 closed

[2015-12-16 04:18] AllThingsSmitty commented on #22
@pornel you're right, it's too risky now. I pulled it with commit https://github.com/AllThingsSmitty/css-protips/commit/9544b8d46a2585b31e2338e9dc604ce559f144cf. Thanks for bringing this up.

[2015-12-16 04:18] #22 closed

[2015-12-17 13:18] katgironpe commented on #21
I think if you're supporting IE9, stick to using classes and learn more than CSS. Not a good "PRO" tip.

[2015-12-17 13:22] robsonsobral commented on #21
+1

[2015-12-19 00:41] johnmcdowall commented on #21
I think if you're supporting IE, you should know that IE has supported :not since IE9.

http://caniuse.com/#feat=css-sel3

[2015-12-19 20:03] Frozenfire92 commented on #18
+1, I couldn't figure out the pure css slider

[2015-12-20 13:38] katgironpe commented on #21
I'm very much aware of that, thank you. I don't see the point of this PRO tips, honestly. I feel like avoiding selectors may even be a better practice.

[2015-12-20 13:42] DanGamble89 commented on #21
I'd say using selectors is bad practice too, stick to classes 100% unless you can't

[2015-12-21 00:38] vwochnik commented on #21
Not sure if srs. The new CSS3 selectors are there so we can strip the HTML markup of unnecessary classes to make it cleaner and to further separate content from style. I have to say I like both the nav and inline list `:not()`  tip. I wasn't aware of the `:not()` selector before.

[2015-12-21 00:42] kohenkatz commented on #21
@DanGamble89 What about if I want to style the first and/or last elements of a list differently? Should I add `first` and `last` classes instead of using selectors, because it "can" be done that way?

[2015-12-21 07:46] DanGamble89 commented on #21
Using pseudo selectors is fine, using HTML selectors i.e, div, span, h1 is bad practice.

`:first-child`, `:last-child` are totally fine. `:not()` can be okay as well. But in instances like this it's bad as it adds an extra level of specificity for little to no gain. It will cause you problems when you want to style dropdowns in the navigation or make the navigation responsive

[2015-12-21 10:18] manumorante commented on #18
:+1:

[2015-12-21 11:37] vwochnik commented on #21
@DanGamble89 then just don't use them for dropdowns!

Styling `div`s may not be advisable since a `div` is fairly generic but styling `h1` is just fine!

[2015-12-21 12:13] AllThingsSmitty commented on #21
@DanGamble89 how so? Do you have an example of that so we can see if `:not()` is really the problem?

[2015-12-21 12:15] AllThingsSmitty commented on #21
@vwochnik agreed, especially when you have to consider accessibility.

[2015-12-24 14:19] marcobiedermann opened #30 "negative margins"
using negative `margin`s to get rid of `:first-child` and `:last-child` selector

instead of this

[code]

you could write

[code]

It is similar to the `flexbox` `space-betweet` technique but `flexbox` does not work in every situation.

If you agree with me, I could send you a PR :)

[2016-01-09 15:00] #21 closed

[2016-01-19 08:37] Leagnus opened #31 "Pure CSS Slider demo"
One can't reproduce the subj because of lack of styles. Can You post codepen example, please?

[2016-01-19 13:42] AllThingsSmitty commented on #31
Yeah, that's one I should document a little more, or at least revise it so it's more clear. I agree, demos would help, just 🕓. [Here's](https://davidwalsh.name/css-slide) where I originally found the tip.

[2016-01-19 13:42] #31 closed

[2016-01-20 16:33] iKlsR opened #32 "Make a note that comma separated lists are not exactly semantically correct"
https://github.com/AllThingsSmitty/css-protips#comma-separated-lists

Looks fine for viewing but if the page is scraped or being looked at by a screen reader these will be missed.

[2016-01-21 02:17] neworldexport commented on #30
Congrat

[2016-01-23 21:51] AllThingsSmitty commented on #32
Good point, thanks for the suggestion.

[2016-01-23 22:00] AllThingsSmitty commented on #32
Commit https://github.com/AllThingsSmitty/css-protips/commit/6dc6252b937fcc689191174446d3d51f1cf569af.

[2016-01-23 22:00] #32 closed

[2016-01-24 15:10] AllThingsSmitty commented on #20
Commit https://github.com/AllThingsSmitty/css-protips/commit/bd16f8d122d060b479993a8d1af813bb01d92eb0. 👍🏼

[2016-01-24 15:10] #20 closed

[2016-02-01 14:39] rjksn opened #33 "* + * Incorrect verb: Precede."
Wouldn't this mean that "anything" that's after *anything* gets a margin on top? The opposite of precede — original reference document uses "proceed."

Suggested edit.

[2016-02-01 15:23] AllThingsSmitty commented on #33
It's a valid point. Thanks. 👍🏼

[2016-02-01 15:32] rjksn commented on #33
No worries, good list! :)

[2016-02-01 15:51] AllThingsSmitty commented on #33
Commit https://github.com/AllThingsSmitty/css-protips/commit/a75231b8612bd41f5248d5ba850a0edd4b21b4fc.

[2016-02-01 15:51] #33 closed

[2016-02-02 09:17] NipSauce commented on #18
Yes please!

[2016-02-02 09:23] Knogobert opened #34 "Added tip: CSS Counters"
You should add a tip on little known (or remembered) CSS Counters i believe.

It is supported on all major platforms, [http://caniuse.com/#feat=css-counters](http://caniuse.com/#feat=css-counters)

Here is an example: [http://codepen.io/Monochrome/pen/bEMbdr](http://codepen.io/Monochrome/pen/bEMbdr)

[2016-02-19 11:52] sindresorhus opened #36 "Submit to awesome list?"
This looks like a good addition for https://github.com/sindresorhus/awesome.

Would you be interested in submitting it there? See: https://github.com/sindresorhus/awesome/blob/master/create-list.md

[2016-02-19 14:27] AllThingsSmitty commented on #36
@sindresorhus thanks, that's a great suggestion. Let me get the repo Awesome-ized and I'll submit a PR.

[2016-02-23 10:08] sindresorhus commented on #36
https://github.com/sindresorhus/awesome/commit/1223624e0f90572a176d2ee47b55a2f957672026

[2016-02-23 10:08] #36 closed

[2016-02-24 13:50] edouard-lopez opened #37 "CSS-generated content can't be copied"
Related to #32, CSS-generated content isn't part of the selection. So when copy/pasting result might differ from what is displayed on the page.

Example: http://codepen.io/edouard-lopez/pen/VeoRre

[2016-02-24 15:10] AllThingsSmitty commented on #37
@edouard-lopez thanks for your feedback. I agree it's worth noting the copy/paste doesn't work on CSS-generated content.

[2016-02-24 16:19] AllThingsSmitty commented on #37
Commit https://github.com/AllThingsSmitty/css-protips/commit/9541b11f86e8b3756f73acada3e9aececd4c6589.

[2016-02-24 16:19] #37 closed

[2016-04-12 10:40] vikrantnegi commented on #34
Great suggestion of adding counters and nice pen on codepen.
They can be used for other purposes as well.
Here is an example of counters being used to [progress tracker navigation](http://codepen.io/vikrantnegi007/pen/RWyZZQ).
Link: http://codepen.io/vikrantnegi007/pen/RWyZZQ

[2016-04-12 10:42] vikrantnegi commented on #30
Nice.

[2016-04-12 10:43] vikrantnegi commented on #18
Indeed great suggestion.

[2016-05-02 01:37] AllThingsSmitty commented on #17
Added tip: b7e0bd5fac11879bc4e0bc75ee27086bfbac8b7e

[2016-05-02 11:39] brunowego commented on #17
👍

[2016-05-26 20:11] thierryk opened #44 "Issues with `line-height`"
**`line-height` to `body`**

[code]

The above value is too small and will create problems with descenders/ascenders. I think it'd be better to use a more realistic one (i.e. `1.5`) so people who copy/paste won't find out the hard way.

**Use `:root` for Flexible Type**

It is better to use unit-less values with `line-height` because the way inheritance works with this property (what is inherited

[2016-05-26 20:26] AllThingsSmitty commented on #44
@thierryk for the flexible type tip, do you mean:

[code]

Removing the unit from the line-height as you suggest.

[2016-05-26 20:46] thierryk commented on #44
Yes, sorry. I did a copy/paste and then forgot to remove the unit.

[2016-05-26 21:33] AllThingsSmitty commented on #44
Commit https://github.com/AllThingsSmitty/css-protips/commit/e5c7059d3c10c6c762de41e85513e313645b4c8d

[2016-05-26 21:33] #44 closed

[2016-05-27 11:34] fabsn182 commented on #19
How is this a pro tip? Floating- and inline-elements get the margin-top too, so you'll have to overwrite an expensive rule everytime you don't need it. Imho that's bad practise.

[2016-05-27 11:44] fabsn182 opened #45 "'Style "Default" Links' is not a pro tip"
You suggest to use `a[href]:not([class])` for a-Tags without an `href`-attribute. But why?
`a` is everything you need to style for this case. Heck, you can use `a:link, a:visited` if that floats your boat but adding two different type of selectors ([attribute], :not()) is in no way a pro tip.

[2016-05-27 12:27] sentience commented on #45
`a` (and `a:link, a:visited`) matches all links, whether they have a `class` attribute or not.

`a[href]:not([class])` matches *only* links with *no* `class` attribute. This is preferable because you can assign specific styles for those “ordinary” links without having to then override those styles to remove them from your “specialized” (`class`ed) link styles.

For example, if you wanted your `cla

[2016-05-27 12:34] sentience commented on #19
@fabsn182: inline elements ignore top and bottom margins applied to them.

As for floated elements, if you’re using floats for layouts then that standard margin applied to floated elements will often be desirable. Certainly, many devs find having that inter-block margin be the default that you can remove when needed is actually a sensible baseline to adopt. See http://vimeo.com/101718785 for a tal

[2016-05-27 13:33] fabsn182 commented on #45
Mind giving some **real** examples and not some constructed, theoretical stuff?
If dropping IE < 9 support is considered a "pro tip", then I happily stay non-pro.

And I just don't get the whole reasoning behind this collection of tips.
Reducing multiple resets to "default"-styles is the only justification for this "tip" to be valid; while the lobotomized owl selector forces you to reset the top m

[2016-05-27 13:38] fabsn182 commented on #19
@sentience Two floating elements with 50% percent width each and the second one needs `margin-top:0`. So I am overwriting something that doesn't need to be in the CSSOM in the first place and you say that is desirable?

[2016-05-27 15:19] nhoizey opened #46 "Please don't suggest to use px values for font-size"
[Use `rem` for Global Sizing; Use `em` for Local Sizing](https://github.com/AllThingsSmitty/css-protips#use-rem-for-global-sizing-use-em-for-local-sizing) -> YES!

But… `html { font-size: 16px; }` -> pleaaaase noooo! :-/

https://nicolas-hoizey.com/2016/03/people-don-t-change-the-default-16px-font-size-in-their-browser.html

[2016-05-27 17:24] AllThingsSmitty commented on #46
@nhoizey thanks for the feedback. Your post is interesting. Are you advocating more for just `html { font-size: 1em; }` to let the default value be interited per browser?

[2016-05-27 20:09] nhoizey commented on #46
@AllThingsSmitty thanks for reading it! ;-)

`html { font-size: 1em; }` is useless, as it is the default value. So I would advocate for nothing at all.

To be honest, I now use something [a little more complex](https://github.com/nhoizey/nicolas-hoizey.com/blob/master/_assets/stylesheets/critical.scss#L24) on the `body` to add some fluid responsiveness to my `font-size`, but I don't touch the `htm

[2016-06-01 03:08] #45 closed

[2016-06-10 19:43] AllThingsSmitty opened #50 "Translations"
I'm setting up this card as a way to track PR's for language translations. If you're translating this repo please add a comment indicating which language so we're not duplicating work. 😎

Your PR should include the following:
1. Add a language/country code folder to the `translations` folder, e.g., `translations/fr-FR`
2. Add a `README.md` file with the translation to the language/country code fol

[2016-06-10 21:45] tomlutzenberger commented on #50
If I find time to do it, I could translate to German.

Just one question: What are the exact benefits of those translations? I mean... most programmers are able to read/speak english.

[2016-06-10 23:52] AllThingsSmitty commented on #50
@tomlutzenberger most? Are you sure? If that's true then there's no benefit in doing the translations. Otherwise the benefit is reaching more devs.

[2016-06-11 00:08] tomlutzenberger commented on #50
This was just an assumption. But I agree with your point on reaching more devs.
Alright, as soon as I find some time, I'll do this.

[2016-06-11 11:30] anisa07 commented on #50
Hello,
I can translate to Russian :) if interestng

[2016-06-11 11:36] AllThingsSmitty commented on #50
@anisa07 thank you so much, Anisa. I did a terrible job with the Russian translation, so you can overwrite what's in the `ru-RU` folder. I appreciated your help.

[2016-06-11 20:16] anisa07 commented on #50
Actually everything is fine! You are doing great job! Thanks! I will use it in my next projects:)

[2016-06-11 21:02] AllThingsSmitty commented on #50
@anisa07 awesome! 👍🏼

[2016-07-01 14:57] AllThingsSmitty commented on #18
Working on it. :+1:

[2016-07-10 19:01] AllThingsSmitty commented on #18
I've demos for about half the tips. Some I may not do if they are self-explanatory enough, or if they have links to articles where demos already exist.

Thanks for the suggestion. I should've done this sooner. 🍾 🎉 💃🏻

[2016-07-10 19:01] #18 closed

[2016-09-22 05:45] superlativo77 opened #58 "Undefined measure unit in line-height section"
line-height: 1.5;

[2016-09-22 05:52] superlativo77 opened #59 "Add global font size"
html {
    font-size: 14px;
}
p {
    font-size: 1rem;
}

[2016-09-22 11:48] AllThingsSmitty commented on #59
What is the issue you're reporting?

[2016-09-22 11:57] AllThingsSmitty commented on #58
`line-height` shouldn't have a unit of measurement. Was it something else you were reporting?

[2016-09-25 20:04] #58 closed

[2016-09-29 04:01] albertorestifo commented on #59
Defining a font in pixel is bad practice. Users can define a different default font size in the browser, this will result in that setting not being respected.

[2016-09-29 05:54] superlativo77 commented on #59
@albertorestifo you are right but my proposal was based on this: https://css-tricks.com/rems-ems

[2016-09-29 08:20] albertorestifo commented on #59
A better solution is to define the HTML font to be 100%, so we still leave the user in control:

[code]

[2016-09-29 08:55] superlativo77 commented on #59
It is true. Now I found your solution here:
https://www.sitepoint.com/understanding-and-using-rem-units-in-css

Thanks

[2016-09-29 11:38] AllThingsSmitty commented on #59
I'll look into this further. Thanks.

[2016-09-30 03:42] AllThingsSmitty commented on #59
Commit f333da1d285fa66a30ee79183ccd5463e81e7b99

[2016-09-30 03:42] #59 closed

[2016-10-09 05:51] albertorestifo commented on #58
You can learn more on how `line-height` works and why it's highly recommended to keep it unitless here:

https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values

[2016-11-22 14:38] alexcarpenter commented on #30
or you could simplify it to be:

[code]

[2016-11-22 15:21] marcobiedermann commented on #30
@alexcarpenter
This is not the same:

Your example might work items which are only placed in a row.
It does not work with a grid like layout (rows & cols).
With negative margins you can cut of the gutter on all edges (top, right, bottom, left).
Great for a multi line image gallery or products page

[2016-11-23 20:42] edmundojr commented on #30
Good tip! With flexbox we could do this as well:

[code]

Cheers.

[2016-11-23 20:50] edmundojr commented on #30
I think we could also use the [adjacent selector](https://css-tricks.com/almanac/selectors/a/adjacent-sibling/) – that's what I end up doing in most cases:

[code]

Supported in every browser too!

[2016-11-23 21:01] marcobiedermann commented on #30
@edmundojr As mentioned this only would work in one direction. Horizontally or vertically.

Using negative `margins` will solve the problem with space between all items equally. No matter which direction (inline or stacked).

[2016-11-23 21:14] marcobiedermann commented on #30
Maybe this example will clear some things up: https://jsfiddle.net/m412c0/yjL5qf0b/1/

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/5244986/20578948/32250968-b1ca-11e6-8de8-ed6cab4daed7.png)

[2016-11-25 05:29] albertorestifo commented on #30
Plenty of times I've used this trick when creating grids

[2017-02-09 09:52] flyinglove opened #63 "about flex layout"
Using flex to do layout is pretty cool, but as the content goes more, there may be something wrong, for example, if I paste the h1  tag in your demo for 10 times, the document will only show it 9 times though there is a scroll bar, and if i decrease the browser's height, there will be more to lose, how could i solve this problem gracefully?

[2017-02-09 13:29] AllThingsSmitty commented on #63
Is that a bug? You may want to check out @philipwalton's [flexbugs] repo. It covers a bunch of weird flexbox issues.

[2017-02-10 09:43] p2227 opened #64 "使用 max-height 来建立纯 CSS 的滑块"
这个功能有demo演示吗？

[2017-02-10 10:49] sotayamashita commented on #50
@AllThingsSmitty Japanese it not good. If there are no people who help this, I think it should not be here.

[2017-02-10 11:27] AllThingsSmitty commented on #50
@sotoyamashita the translation isn't good? Hopefully people will help with it then.

[2017-02-11 12:30] byronlun opened #65 "使用 “形似猫头鹰” 的选择器这个模块demo链接出错"
使用 “形似猫头鹰” 的选择器这个模块demo链接出错了，翻译的时候搞错了吧，原文是正确的，原文demo链接是[这个](http://codepen.io/AllThingsSmitty/pen/grRvWq)，翻译的链接是[这个](http://codepen.io/AllThingsSmitty/pen/XKgOkR)

[2017-02-11 12:38] huzeyfeborazan commented on #50
I would like to help with Turkish translations

[2017-02-11 13:08] AllThingsSmitty commented on #65
@shfshanyue, since you helped with the translation can you take a look at this issue? Thanks.

[2017-02-11 13:50] byronlun commented on #65
@AllThingsSmitty , It means that the chinese translation in [this module](https://github.com/AllThingsSmitty/css-protips/tree/master/translations/zh-CN#use-the-lobotomized-owl-selector) have a error that the url of demo make a mistake.

[2017-02-11 13:57] byronlun commented on #65
@AllThingsSmitty , there is a mistake in the chinses translation of [this module](https://github.com/AllThingsSmitty/css-protips/tree/master/translations/zh-CN#use-the-lobotomized-owl-selector) where the url of the demo is wrong.

[2017-02-11 15:00] AllThingsSmitty commented on #65
@byronlun okay, I can take of that. Thanks for pointing it out. @shfshanue, I'll take care of this. Thanks!

[2017-02-13 05:55] shfshanyue commented on #65
sorry for the delay.
thanks for pointiing it out and I'll resolve it.
@AllThingsSmitty @byronlun

[2017-02-13 06:29] jerryshew commented on #64
@p2227 像这样的: https://davidwalsh.name/css-slide

[2017-02-13 12:02] AllThingsSmitty commented on #65
@shfshanyue already resolved with commit 74f7b396a7e5d8207af125c29f34cb8ea5e363e2

[2017-02-13 12:02] #65 closed

[2017-03-03 19:21] IAmAdamTaylor opened #67 "2 points contradict each other"
Use the "Lobotomized Owl" Selector and Consistent Vertical Rhythm are basically the same protip.

By applying the LobOwl selector you get a consistent vertical rhythm and the benefit of no left over margins at the top or bottom of the containing element.

With the example presented for Consistent Vertical Rhythm, some margin will be leftover on the last element (unless using the :not trick of cour

[2017-03-07 17:35] davidpustai commented on #67
Exactly. I usually write the owl margins inside a scope (since I don't want to apply it to the whole document).

So either remove it or change it to something like `.intro > * + * { margin-top: 1.25rem; }`.

[2017-05-16 18:22] AllThingsSmitty commented on #64
That's a good demo. Thanks, @jerryshew.

[2017-05-16 18:22] #64 closed

[2017-05-16 18:22] #63 closed

[2017-05-16 18:24] #46 closed

[2017-06-26 12:25] AllThingsSmitty opened #70 "Add translation links to all README's"
Include same translation links at the bottom of the master README on all README files.

[2017-10-21 06:12] JusethAg commented on #70
I could work on it.

[2017-12-03 09:20] SFromentarius commented on #50
Hi!
I've read the French translation and I believe there are some mistakes in the translation (I'm a french native speaker). If I understood well how GitHub works, could I create a branch to make better the French translation?
thanks

[2017-12-03 12:20] AllThingsSmitty commented on #50
Yes, you can create a branch, make your changes, and then submit a pull request. Please review GutHub’s [documentation](https://help.github.com/articles/creating-a-pull-request/) to become more familiar with the process.

[2018-01-19 17:18] alltheoptions opened #78 "My manifesto... please read for a better future."
https://github.com/Nax/longflow-manifesto/issues/14

[2018-01-19 18:25] #70 closed

[2018-04-05 12:33] Justino96 opened #80 "polish translation"
Hello Mate,

I have noticed you have a wide variety of languages. I am going to add Polish into it and send you the results.

Thank you
Justin Oliver

[2018-04-05 16:28] Justino96 commented on #80
Hello,
I have committed the changes adding in the additional language. Please review and let me know your thoughts.

Kind regards,
Justin
[css-protips.zip](https://github.com/AllThingsSmitty/css-protips/files/1880860/css-protips.zip)

[2018-04-05 16:32] Justino96 commented on #80
<p align="center">
  <img src="https://rawgit.com/AllThingsSmitty/css-protips/master/media/logo.svg" width="200" alt="light bulb icon">
</p>

#  wskazówki CSS [![Awesome](https://cdn.rawgit.com/sindresorhus/awesome/d7305f38d29fed78fa85652e3a63e154dd8e8829/media/badge.svg)](https://github.com/sindresorhus/awesome)

Zbiór porad, które pomogą zdobyć umiejętności CSS.

## Powrót do spisu treści

* [Ws

[2018-04-05 21:02] AllThingsSmitty commented on #80
This is great! Thanks!

[2018-04-05 21:02] #80 closed

[2018-04-24 02:57] AllThingsSmitty opened #84 "German translation formatting"
@Unruly-MAC I was looking over the merged file for the German translation and there are some formatting issues. It looks like the table of contents hasn't been formatted correctly, and links and code snippets aren't in the proper format either. Can you look into that?

[2018-04-26 02:05] AllThingsSmitty commented on #84
I"m going to remove the German translation for now. If you get a chance to work on it and resolve the issue with formatting and broken links, please submit another PR. Thanks.

[2018-04-26 10:32] Unruly-MAC commented on #84
Okay I am going to make changes over the night

[2018-05-01 12:04] #84 closed

[2018-05-14 14:34] sagban opened #95 "Aligns the flexible container's items"
Align the flex items at the centre of the container.

`div {
    display: flex;
    justify-content: center;
}`
This is the quick and easy way to get your divs aligned.

[2018-05-14 15:08] #95 closed

[2018-05-17 02:59] lulin1 opened #98 "display: none; should be written as display: block; when select all items except the first 3 and display them."
/* select all items except the first 3 and display them */
li:not(:nth-child(-n+3)) {
  display: none;  //should be written as   display: block;
}

[2018-05-17 12:06] AllThingsSmitty commented on #98
Good catch. Thanks!

[2018-05-17 12:06] #98 closed

[2018-09-11 11:51] Doctor-L commented on #50
I can take a look into Portuguese - (Pt-Br), and help with Spanish if needed

[2018-10-08 13:34] AllThingsSmitty commented on #50
@TKO-berg sure, that would be great!

[2018-10-16 06:54] Basheer88 commented on #50
I can translate it to Arabic Language if you accept it.

[2018-10-16 14:02] AllThingsSmitty commented on #50
@Basheer88 yes, that would be awesome, thanks!

[2018-10-26 04:07] Ajmal-hassan commented on #67
The lobotomized owl selector looks like this: * + *
Despite its irreverent name and precarious form, the lobotomized owl selector is no mere thought experiment for me. It is the result of ongoing experimentation into automating the layout of flow content. The owl selector is an “axiomatic” selector with a voracious purview.

All elements in the flow of the document that proceed other elements must

[2018-10-26 11:37] estellerostan commented on #50
Hello @AllThingsSmitty,
I'm going to work on the french translation as it still need some improvements.
Keep up the good work! :+1:

[2018-10-26 14:41] AllThingsSmitty commented on #50
@estellerostan terrific, thanks!

[2018-10-26 17:15] estellerostan commented on #50
Thanks for the merge! :sparkles: :confetti_ball:

[2018-12-09 16:46] AllThingsSmitty commented on #50
@paulina-grunwald thank you! Feel free to submit a PR with the corrections.

[2018-12-09 17:15] paulina-grunwald commented on #50
I am on it. Will be done in max. 2 days.

[2019-02-19 16:51] floppylab commented on #50
Hi there!
I would like to work on the Hungarian version! :)

[2019-02-19 16:52] leonorader commented on #50
Hi there!
I would like to work on the Hungarian version! :)

[2019-02-23 19:03] RinatValiullov opened #105 "Some misunderstandings about adjacent sibling combinator (+) as alternative way of using :not() pseudo-class"
There is some alternative approach In the section about `:not()` CSS pseudo-class :
[Use :not() to Apply/Unapply Borders on Navigation](https://github.com/AllThingsSmitty/css-protips#use-not-to-applyunapply-borders-on-navigation)

I think this _adjacent sibling combinator_ has a different meaning(inner logic) rather than `:not()` CSS pseudo-class. Of course in the context of the **Borders on Navig

[2019-02-23 20:24] AllThingsSmitty commented on #105
@RinatValiullov I do see where the confusion lies, because if I said `li:not(:first-child)`, it'd make more sense. I'll have look it over and maybe remove that blurb to avoid confusion.

[2019-02-23 20:24] #105 closed

[2019-02-23 20:55] RinatValiullov commented on #105
Ok :thumbsup:
@AllThingsSmitty
But I thought that you meant similar behaviour of `+` combinator and `:not()`, isn't it?
`border-right` prop is associated with the extreme right element (`:last-child`), not `first-child`
There's still some misunderstanding for me.

[2019-02-24 03:40] AllThingsSmitty commented on #105
@RinatValiullov `:not()` isn't the same as the adjacent sibling selector. `:not()` is a pseudo-class, and represents elements that don't match a list of selectors.

[2019-02-24 05:38] RinatValiullov commented on #105
I know that it's not the same. That's why I  made this issue-question.

But I want to understand what did you mean when wrote this:

alongside this tip?

Maybe you can clear this approach for others, who didn't understand your intention and think that these constructions are the same (of course it's not)?

[2019-02-27 14:04] RinatValiullov opened #107 "Different language"
I noticed that you wrote last sentence in German language in the repo (on English):

https://github.com/AllThingsSmitty/css-protips#use-not-to-applyunapply-borders-on-navigation

[2019-02-28 01:16] AllThingsSmitty commented on #107
Thanks.

[2019-02-28 01:16] #107 closed

[2019-03-29 12:01] ashleymavericks commented on #50
It seems I can help in adding the Hindi Language! if it really helps.

[2019-04-13 09:38] ConiWright commented on #50
I could do Hebrew if needed :)

[2019-04-30 11:02] anishansari commented on #50
I could do Nepali if needed. let me know
Thanks :)

[2019-07-12 17:50] PERCE-NEIGE opened #110 "[Suggestion]CSS for ebooks"
Hi. Could someone create an awesome list with CSS snippets specialized in epubs?

[2019-08-22 17:14] monzter50 commented on #50
I could do Spanish if needed. let me know!

[2019-08-22 19:01] AllThingsSmitty commented on #50
@monzter50 there's a Spanish folder (es-ES) but feel free to review and make corrections. Can't remember if someone did it or if I put it into Google Translate and effed it up.

[2019-08-22 19:10] monzter50 commented on #50
Jajaja lol, then he checked folder :)
Thank you.

On Thu, Aug 22, 2019, 2:01 PM Matt Smith <notifications@github.com> wrote:

[2019-10-05 01:06] #110 closed

[2020-02-01 19:15] manolasn opened #118 "Translations"
Hello I've started translating in Greek it will take me until tomorrow to have it ready should i wait and make a PR as soon as  the whole translation is ready or should I make I PR as i progress (sorry for asking such a question,beginner with github here :D)

[2020-02-01 19:16] manolasn commented on #50
Hello I've started translating in Greek it will take me until tomorrow to have it ready should i wait and make a PR as soon as the whole translation is ready or should I make I PR as i progress (sorry for asking such a question,beginner with github here :D)

[2020-02-01 19:16] #118 closed

[2020-02-01 20:15] AllThingsSmitty commented on #118
You can always pulled the latest master and start again. Be sure to follow the steps in the [Contributing](https://github.com/AllThingsSmitty/css-protips/blob/master/CONTRIBUTING.md#language-translations) section for language translations (create a new directory under Translations following the same pattern as the others for that language).

[2020-02-27 19:56] gromovadarya90 opened #121 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-03-17 13:50] KapilBansal320 commented on #50
I can translate to Hindi. Let me knew if it works

[2020-04-07 14:03] ve00ryca commented on #50
Hi there! :) I'd like to contribute for translations in Bulgarian (if interested).

[2020-06-05 12:22] GemmieDodger opened #126 "Animation to any element"
Hi,

Please can I add an animation on load, which can be added to any element via. a class.

@keyframes slideInFromLeft {
 0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animation-element-onload {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

Thank you,
Gemma

[2020-06-05 13:11] AllThingsSmitty commented on #126
Sure, do you have a demo example showing this? Feel free to submit a pull request with your recommendation. Please add a sentence or two explaining why this would be a good "pro" tip. More information on submitting is in the [contribution guidelines](https://github.com/AllThingsSmitty/css-protips/blob/master/CONTRIBUTING.md).

[2020-06-05 13:19] GemmieDodger commented on #126
Here's a codepen.
https://codepen.io/gemmiedodger/pen/gOPbZyg

I'll have a read of the guidelines, thank you. This is my first ever contribution so please let me know if I do something wrong!

[2020-06-21 14:45] Vanshikaa00 commented on #50
Hello !! I would like to translate in hindi

[2020-06-29 14:15] rajamanojkumar commented on #50
Hello there, I would like to translate to Telugu. Let me know if i can start my work.

[2020-06-30 02:45] AllThingsSmitty commented on #50
@rajamanojkumar yes, that would be great.

[2020-07-21 07:42] macdvh commented on #126
Anyway to add animations onScroll? Without the use of an external script or library?

[2020-08-31 14:25] gaweki commented on #50
i would like help translation into indonesian language. please let me know for work on it :)

[2020-09-01 02:11] gaweki commented on #50
hey @AllThingsSmitty would you add indonesian language, if i translate it?

[2020-12-27 20:34] #30 closed

[2020-12-27 20:43] AllThingsSmitty commented on #67
Sorry for the delay, yup, I'm on it.

[2020-12-27 20:43] #67 closed

[2021-01-04 08:17] Bosch-Eli-Black opened #132 "Edge now supports "all" keyword"
At https://github.com/AllThingsSmitty/css-protips#use-unset-instead-of-resetting-all-properties, it says "the `all` shorthand isn't supported in IE11 and is currently under consideration for support in Edge"

It looks like Edge now supports the `all` keyword, probably because it's now based on Chromium 🙂

Source: https://caniuse.com/css-all

[2021-01-04 19:12] AllThingsSmitty commented on #132
Thanks!

[2021-01-04 19:12] #132 closed

[2021-02-09 10:45] v007rj commented on #126
@GemmieDodger
You can run a CSS animation on page load without using any JavaScript. You just have to use CSS3 Keyframes. Try using Keyframe animations it would work .

[2021-02-10 15:23] ankit11hab commented on #126
You can try adding <script src="https://unpkg.com/aos@next/dist/aos.js"></script> to your code. In the div class you want to animate, you just need to add -> data-aos="fade-left"(for example). You can make required changes like offset, delay, duration, etc. like this
<script>
      AOS.init(
      {
           offset: 60,
           duration: 1000
      }
     );
</script>

Please follow this link

[2021-02-22 11:00] tomjbradley opened #135 "Add tip: wrapper utility"
You should add a tip for a simple wrapper/container utility. For example:
[code]
It's explained more in [this css-tricks article](https://css-tricks.com/best-way-implement-wrapper-css/).

I'd be happy to add it if you want.

[2021-03-01 17:44] tomjbradley commented on #135
Hey, I was wondering should I submit a PR for this or do you not want the changes otherwise I'll just close the issue.

[2021-03-02 01:19] AllThingsSmitty commented on #135
Feel free to submit a PR if you like, I haven't given this idea much thought yet.

[2021-03-25 15:40] RanimAmor commented on #50
Hello, @AllThingsSmitty i can translate in arabic language if you want.

[2021-03-25 16:04] AllThingsSmitty commented on #50
@RanimAmor thanks for offering. I'm actually thinking about closing out this Issue and leaving the translations as they are. The difficulty is each time I update the main README I have to work at getting all the translations updated too. I think we have enough translations now to be beneficial.

[2021-03-25 16:04] #50 closed

[2021-03-25 16:04] AllThingsSmitty commented on #50
Closing call for translations

[2021-06-25 18:09] 0869967868 opened #140 "good jop"

[2021-07-11 13:02] #140 closed

[2021-08-16 08:46] farheen21 opened #141 "Add tip: Using Aspect Ratio instead of usual Margin and Padding"
I think this repo must contain the aspect ratio hack...It can be use widely in hero section , responsive styling and grid based content....
Here is more info about the [aspect ratio hack](https://css-tricks.com/almanac/properties/a/aspect-ratio/)
please do let me know if its best fit for the repo and if yes I would like to send a PR for this

[2021-08-21 01:36] AllThingsSmitty commented on #141
@farheen21 thanks for the suggestion. I hadn't consider `aspect-ratio`, but feel free to submit a PR and I'll review it.

[2022-01-02 16:18] vinaybharadwaj007 commented on #141
Pr

[2022-01-05 21:08] robsonsobral commented on #141
`aspect-ratio` isn't a hack, but a standard CSS property. I can't see a reason for consider it a tip.

[2022-03-01 12:53] arnavk1872 opened #147 "Add tip: Adding CSS Libraries like bootstrap and making this repo more elaborate."

[2022-04-04 06:36] Khubaib-Ul-Amin opened #148 "Css pro tips"

[2022-07-26 14:01] staranbeer opened #153 "Suggestion: Turn this collection of tips into a github pages site."
This is an awesome resource for whoever wants to learn more about CSS and its practical usage and i think a lot more people would benefit from it if the tips were in the form of documentation or bite sized blogs.

[2022-07-26 22:33] #148 closed

[2022-07-26 22:38] AllThingsSmitty commented on #153
Thanks for the suggestion. It's an interesting idea and if I had the foresight when I started this repo years back I might have done it. Since then there have been several resources that have popped up as CSS resources like moderncss.dev, web.dev, and others. I don't think this would have the same impact or reach.

[2022-07-26 22:38] #153 closed

[2022-07-27 00:07] #34 closed

[2022-09-05 07:48] shayanfpg9 opened #158 "Max Function for Max-Width"
Hi, I had a request,
can I add ```max``` function to this repository?

[code]

to show if document width less than 300px the max width of div be 300px else the max width of div will be 50vw.

Thank you

[2022-10-08 12:28] thepushp commented on #158
Hi is this issue still open can you assign to me

[2022-10-08 19:04] tusharrajpoot commented on #141
@AllThingsSmitty can you assign it to me?

[2022-10-12 17:58] #158 closed

[2022-10-15 21:19] mansi142003 commented on #141
can you assign to me?